.footer
	position relative
	width 100%
	min-width $min-width
	order 3
	padding 85px 0 60px
	&-bg
		position absolute
		bottom 0
		left 50%
		transform translateX(-50%)
		width 100%
		height 403px
		svg
			width 100%
			height auto
	&-wrap
		display flex
		justify-content space-between
		max-width 760px
		margin 0 auto 67px
	&__list
		padding 0
		margin 0
		width calc(33.33% - 60px)
	&__item
		margin-bottom 24px
		&:last-child
			margin-bottom 0
	&__link
		color $white
		font-size 20px
		line-height 20px
		font-family 'Avenir Next Cyr Medium'
		&:hover
			color $accent
			[class^='icon-']:before
				color $accent
		[class^='icon-']
			margin-right 35px
	&-copy
		text-align center
		font-family $michroma
		font-size 15px
		line-height 20px
	&-abs
		position absolute
		svg
			width 100%
			height 100%
		&_1
			top 4%
			left 4%
			width 109px
			height 230px
		&_2
			right 4.5%
			bottom -3%
			width 109px
			height 210px
/*==========  Desktop First  ==========*/
// @media (max-width : 1440px)
/* Large Devices, Wide Screens */
@media (max-width : 1200px)
	.footer-abs_1
		left -2%
	.footer-abs_2
		right -2%
/* Medium Devices, Desktops */
// @media (max-width : 991px)
/* Small Devices, Tablets */
@media (max-width : 767px)
	.footer-abs
		display none
	.footer__link, .footer__item
		font-size 16px
		line-height 26px
	.footer__item
		margin-bottom 15px
	.footer__list
		width calc(33.33% - 20px)
	.footer-bg
		display none
/* Small Devices, Tablets */
@media (max-width : 576px)
	.footer-wrap
		flex-wrap wrap
	.footer__list
		width calc(50% - 10px)
		&:last-child
			display flex
			flex-direction column
			flex-wrap wrap
			width 100%
			margin-top 15px
			height 100px
			.footer__item
				width calc(50% - 10px)
				margin-bottom 15px
				&:nth-last-child(1)
					align-self flex-end
				&:nth-last-child(2)
					align-self flex-end
	.footer-wrap
		margin 0 auto 30px
	.footer
		padding 45px 0 30px
	.footer__link [class^='icon-']
		margin-right 15px

/* Small Devices, Tablets */
@media (max-width : 480px)
	.footer__link,  .footer__item
		font-size 14px
/* Custom, iPhone Retina */
// @media (max-width : 380px)