$white = #ffffff
$black = #000000
$accent = #FBD303
$title-color = #ffffff
$text-color = #ffffff
$link-color = #000000
$placeholder = #131313
$base-bg = #222222
$bg = #131313

$min-width = 320px
$max-width = 1240px

$base-font-size = 18px
$base-line-height = 30px
$base-font-family = 'Avenir Next Cyr', sans-serif
$custom-font-family = 'Montserrat', sans-serif
$michroma = 'Michroma', sans-serif
$transition = all 0.25s ease-out

$font-size-h1 = 50px
$line-height-h1 = 80px
$font-size-h2 = 40px
$line-height-h2 = 80px
$font-size-h3 = 25px
$line-height-h3 = 36px